* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 6%;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(134deg, #FEFEFE, 45%, #5f119fa8);
    color: #000000;
}

nav {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 15%;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav .menu-icon {
    display: none;
    cursor: pointer;
}

nav ul li {
    padding: 20px;
}

nav ul li:not(.lg)::after {
    display: block;
    content: '';
    width: 0%;
    background-color: #60119F;
    transition: 0.5s;
    height: 3px;
}

nav ul li:hover::after {
    width: 100%;
}

nav ul li.lg {
    border: 2px solid #60119F;
    background-color: #60119F;
    border-radius: 30px;
    padding: 5px 40px;
    margin-left: 30px;
    transition: all 0.2s;
}

nav ul li.lg:hover {
    background-color: transparent;
    transform: all 0.2s;
}

#ancor-button {
    color: #fffafa;
}

nav ul li a {
    color: #1b1a1b;
    text-decoration: none;
    font-size: 17px;
}

main {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

main .main__text {
    width: 60%;
}

main .main__text h1 {
    font-size: 4.1rem;
    font-family: 'Poppins', sans-serif;
    color: #1b1a1b;
    text-shadow: #817f7f 1px 0 1px;
    display: block;
    line-height: 65px;
}

main .main__text strong {
    font-size: 50px;
    text-shadow: none;
}

main .main__text p {
    color: #393338;
    margin: 20px 0 40px;
    width: 90%;
}

.social {
    text-decoration: none;
    color: #60119F;
}

main .main__text button {
    background-color: #60119F;
    color: #FEFEFE;
    border-radius: 30px;
    padding: 10px 50px;
    cursor: pointer;
    font-size: 17px;
    border: 2px solid #60119F;
    transition: all 0.5s;
}

main .main__text button:hover {
    transform: scale(0.9);
    background-color: #60119F;
    
}

main .main__text button a {
    text-decoration: none;
    color: #FEFEFE;
}

main .main__text button a:hover {
    color: #FEFEFE;
    transition: all 0.5s;
}

main .main__img {
    width: 48%;
}

main .main__img img {
    width: 100%;
}

.footer {
    text-align: center;
    color: #000000;
    font-size: 12px;
}

.footer a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
}

.footer a:hover {
    color: #FEFEFE;
    transition: all 0.3s;
}

/* Form */

#contact-title {
    font-size: 25px;
    text-decoration: none;
    color: #000;
    font-weight: 800;
}

#form {
   padding: 30px;
   border: 2px;
   box-shadow: 15px 2px 30px #5f119f56;
   border-radius: 20px;
   background-image: linear-gradient(134deg, #5f119fc7, 45%, #5f119f49);
   font-family: 'Poppins', sans-serif;
   color: #FFF; 
}

.titles {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 15px;
}

#form-contact-name {
    padding: 6px;
    width: 31rem;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    transition: all 0.5s;
    cursor: pointer;
}

#form-contact-name:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.205));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.212));    
}

.form-contact {
    padding: 6px;
    width: 15.3rem;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    transition: all 0.5s;
    cursor: pointer;
}

.form-contact:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.205));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.212));    
}

.radio-yesNo {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

#text-area {
    padding: 6px;
    border-radius: 20px;
    border-color: #FEFEFE;
    padding: 6px;
    font-size: 15px;
    transition: all 0.5s;
    cursor: pointer;
}

#text-area:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.205));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.212));  
}

#form-button {
    margin-top: 10px;
}

.img-aside {
    width: 50%;
}







@media (max-width: 850px) {
    nav {
        width: 100%;
    }
    
    nav .logo {
        width: 30%; 
    }

    
    nav .menu-icon {
        display: block;
    }

    nav ul {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fd64fdd2;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 60%;
        transform: translateX(-100%);
        transition: 0.6s;
    }

    nav ul.activo {
        transform: translateX(0%);
    }

    nav ul li.lg {
        border: 1px solid #60119F;
        margin-left: 0;
    }

    nav ul li:not(.lg)::after {
        background-color:#60119F;
    }

    nav ul li a {
        color: #fffafa;
        font-size: 24px;
    }

    /* Form-Responsividade */

    div #contact-title {
        text-align: center;

    }

    div #form {
        background-image: none;
        background-color: #da95ff9e;
        color: #1b1a1b;
        width: 30rem;
        text-align: left;
        margin-left: 3rem;
    }

    div #form-contact-name {
        width: 34.6rem;
    }

    div #input-contact-email {
        width: 13rem;
    }

    div #input-contact-tel {
        width: 13rem;
    }

    div #text-area {
        width: 35rem;
    }

    main{
        flex-direction: column;
        padding: 20px;
    }

    main .main__text{
        width: 100%;
        text-align: center;
    }

    main .main__img{
        margin-top: 70px;
        width: 100%;
    }
    main .main__text strong {
        font-size: 3rem;
        line-height: 40px;
    }
}

@media (max-width:500px) {
    nav {
        width: 100%;
    }

     /* Form-Responsividade */

     div #contact-title {
        text-align: center;

    }

    div #form {
        background-image: none;
        background-color: #95ff959e;
        color: #1b1a1b;
        width: 10rem;
        text-align: left;
        margin-left: 3rem;
    }

    div #form-contact-name {
        width: 10.6rem;
    }

    div #input-contact-email {
        display: none;
    }
    
    label #email {
        display: none;
    }

    div #input-contact-tel {
        width: 8rem;
    }

    div #text-area {
        width: 20rem;
    }
    
    nav .logo {
        width: 40%;
        
    }

    main .main__text h1 b{
        font-size: 3rem;
    }
    main .main__text h1 {
        font-size: 3rem;
        line-height: 40px;
    }
    main .main__text strong {
        font-size: 3rem;
        line-height: 40px;
    }
}

@media (max-width:400px) {
    nav .logo {
        width: 45%;
        margin-left: 26%;
    }

    main .main__text h1 b{
        font-size: 3rem;
    }
    main .main__text h1 {
        font-size: 3rem;
        line-height: 40px;
    }
    main .main__text strong {
        font-size: 2rem;
        line-height: 40px;
    }
}
